*.log
*.old
.DS_Store
phpcs*.tmp
*.swp
.sass-cache
.sass-cache/*
cache
cache/*

node_modules
build/node_modules
build/node_modules/*
build/.gulp/
build/.gulp/*

reports/*
reports

public/upload/*
public/upload

serdelia-link
serdelia-link/*

_uho
_uho/*
_dane
_dane/*
_data
_data/*

*.sublime-project
*.sublime-workspace
.sublime-gulp.cache

.idea

.gulp
.gulp/*

docker-compose.yml

.vscode