.svg-pm {
    width: 47px;
}

.svg-toxic {
    width: 40px;
}

.svg-flood {
    width: 47px;
}

.svg-ozone {
    width: 40px;
}


.svg-info {
    width: 30px;

    .footer & {width: 25px;}
}

.svg-logo {
    width: 110px;
}
