.footer {
    @include z-index(footer);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $footer-height;
    background: rgba($color-blue, $alpha: .3);
    @include flex(row, center, center);
    opacity: 0;
    transform: translateY(100%);

    @media (max-height: 600px) {
        bottom: -$footer-height;
    }


    &__logo {

        position: absolute;
        left: 16px;
        @include flex(row, center, center);

        > * {
            margin: 0 10px;
        }

        img {
            max-width: 100px;
            max-height: 25px;

            &:last-of-type {
                max-height: 30px;
            }
        }
    }


    &__copy {
        color: $color-pale;
        font-family: $font-text;
        @include font-size(13, 13);
    }


    &__button {
        position: absolute;
        right: 26px;
    }
}
