.loader {
    @include full;
    @include flex(row, center, center);
    @include z-index(loader);
    pointer-events: none;

    &.is-loading .spinner {
        animation-play-state: running;
    }


    &__wrap {
        position: relative;
        opacity: 0;
        transition: opacity $time-fast $ease-custom;

        .is-loading & {
            opacity: 1;
        }
    }

    .copy {
        position: absolute;
        left: 50%;
        top: 50px;
        transform: translateX(-50%);
        white-space: nowrap;
        @include font-size(15, 18);
        font-family: $font-title;
        font-weight: 400;
        text-transform: uppercase;
    }

    .spinner {
        border-radius: 50%;
        width: 10em;
        height: 10em;
        margin: 0 auto;
        font-size: 3px;
        position: relative;
        text-indent: -9999em;
        border-top: 1.1em solid $color-red;
        border-right: 1.1em solid $color-red;
        border-bottom: 1.1em solid $color-red;
        border-left: 1.1em solid #ffffff;
        transform: translateZ(0);
        animation: load .8s infinite linear;
        animation-play-state: paused;


        &::after {
            border-radius: 50%;
            width: 10em;
            height: 10em;
        }
    }

    @keyframes load {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
