.map {
    @include z-index(map);
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;

    .mapboxgl-popup-tip {
        border-top-color: $color-pale;
    }
    .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
        border-top-color: transparent;
        border-left-color: $color-pale;
    }

    .mapboxgl-popup-content {
        padding: 0;
        background-color: $color-pale;
    }
}
