
$size-hd: 1600px;
$size-desktop: 1024px;
$size-tablet: 660px;
$size-min: 320px;

$size-laptop-height: 640px;

$margin: 20px;
$mobile-margin: 28px;
$tablet-margin: $mobile-margin * 3;

$menu-width: 338px;
$menu-height: 200px;

$tooltip-height: 473px;

$footer-height: 50px;